<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHospitalLabel">Create or edit a Hospital</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!hospital.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="hospital.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hospitalName">Hospital Name</label>
            <input type="text" class="form-control" name="hospitalName" id="field_hospitalName"
                [(ngModel)]="hospital.hospitalName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="hospital.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_templateCount">Template Count</label>
            <input type="number" class="form-control" name="templateCount" id="field_templateCount"
                [(ngModel)]="hospital.templateCount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_chosenFactor">Chosen Factor</label>
            <select class="form-control" name="chosenFactor" [(ngModel)]="hospital.chosenFactor" id="field_chosenFactor" >
                <option value="NONE">NONE</option>
                <option value="TIME_FRAME">TIME_FRAME</option>
                <option value="WS_LINE_COUNT">WS_LINE_COUNT</option>
                <option value="WOS_LINE_COUNT">WOS_LINE_COUNT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                [(ngModel)]="hospital.notes" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
