<div>
    <h2>
        <span>Hospitals</span>
        <button class="btn btn-primary float-right jh-create-entity create-hospital" [routerLink]="['/', { outlets: { popup: ['hospital-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Hospital
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hospitals">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Hospital Name</span></th>
            <th><span>City</span></th>
            <th><span>Template Count</span></th>
            <th><span>Chosen Factor</span></th>
            <th><span>Notes</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hospital of hospitals ;trackBy: trackId">
                <td><a [routerLink]="['../hospital', hospital.id ]">{{hospital.id}}</a></td>
                <td>{{hospital.hospitalName}}</td>
                <td>{{hospital.city}}</td>
                <td>{{hospital.templateCount}}</td>
                <td>{{hospital.chosenFactor}}</td>
                <td>{{hospital.notes}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../hospital', hospital.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hospital/'+ hospital.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hospital/'+ hospital.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
