
<div *ngIf="hospital">
    <h2><span>Hospital</span> {{hospital.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Hospital Name</span></dt>
        <dd>
            <span>{{hospital.hospitalName}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{hospital.city}}</span>
        </dd>
        <dt><span>Template Count</span></dt>
        <dd>
            <span>{{hospital.templateCount}}</span>
        </dd>
        <dt><span>Chosen Factor</span></dt>
        <dd>
            <span>{{hospital.chosenFactor}}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
            <span>{{hospital.notes}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'hospital/'+ hospital.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
