<div class="card" style="width:400px">
<div *ngIf="progress.isUploaded" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
    <br>
</div>
</div>


<span class="upload_button corners">
  <label>
    <input class="upload_button corners" type="file" (change)="selectFile($event)" multiple #fileInput style="display:none">
    <span class="btn btn-primary btn-block">
      <i class="fa fa-upload fa-lg"></i> {{ getBanner() }}
    </span>
    </input>
  </label>
</span>
