<div *ngIf="progress.isUploaded" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>

<span class="upload_button corners">
  <label>
    <input class="upload_button corners" type="file" {{ getAcceptableFileExt() }} (change)="selectFile($event)" multiple #fileInput style="display:none">
    <span class="btn btn-primary btn-sm">
      <i class="fa fa-upload fa-sm"></i> {{ getBanner() }}
    </span>
    </input>
  </label>
</span>
