
<div>

    <div class="row">
    </div>
    <br/>
</div>


<div class="row">
    <div class="col-md-5">
        <h4>Filter by date</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">from</span>
            </div>
            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="onChangeDate()" required/>

            <div class="input-group-append">
                <span class="input-group-text">To</span>
            </div>
            <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="onChangeDate()" required/>
        </div>
    </div>
</div>


<jhi-downloader [source]="'selectedTasks'" [id]="0" [selectedTasks]="selectedTasks" (onCompletion)="uponSelectedTasksDownloadCompletion($event)"></jhi-downloader>

<button (click)="refresh()" class="btn btn-info btn-sm">Refresh</button>

<select>
    <optgroup label="Control">
        <option></option>
   <!-- <option value="Refresh" (click)="refresh()">Refresh</option> -->
    <option value="Clone" (click)="clone()" >Clone</option>
    <option value="Merge" (click)="merge()" >Merge</option>
    <option value="Done" (click)="uponDoneMenuClick()">Done</option>
</optgroup>
</select>

<!-- <span *jhiHasAnyAuthority="'ROLE_MANAGER'">
<select (change)="loadChildMenu()" [(ngModel)]="masterSelectedItem">
   <optgroup *ngFor="let heading of masterMenuArr" label="{{heading['head']}}">{{heading['head']}} 
        <option *ngFor="let master of heading['list']" >{{master}}</option>
    </optgroup>
</select>
<select (change)="onChildMenuSelection()" [(ngModel)]="childSelectedItem">
    <optgroup label="{{this.masterSelectedItem}}"> 
    <option *ngFor="let child of childMenuList" [ngValue]="child">{{displayName(child)}}</option>
    </optgroup>

</select>
</span> -->

<!-- <span *jhiHasAnyAuthority="'ROLE_MANAGER'">
    
       <span *ngFor="let heading of masterMenuArr">
            <span *ngFor="let master of heading['list']" >{{master}}
    
    <select [(ngModel)]="selectedItems[master]">
        <option [ngValue]=""></option>
        <option *ngFor="let child of getChildMenuList(master)" [ngValue]="child">{{displayName(child)}}</option>
    </select>
</span>
</span>

    <button (click)="saveSelectedParam()">Save param</button>
    <button (click)="initializeSelectedItems()">Reset</button>
</span> -->

<div class="table-responsive" *jhiHasAnyAuthority="'ROLE_MANAGER'">
    <table class="table">
        <thead>
            <tr>
        <ng-container *ngFor="let heading of masterMenuArr">
         <th *ngFor="let master of heading['list']" >{{master}}</th>
         </ng-container>
         <th><button (click)="saveSelectedParam()" class="btn btn-info btn-sm">Save param</button></th>
         </tr>
         </thead>
         <tbody>
                <tr>
                        <ng-container *ngFor="let heading of masterMenuArr">
                         <td *ngFor="let master of heading['list']" >
 <select [(ngModel)]="selectedItems[master]">
     <option [ngValue]=""></option>
     <option *ngFor="let child of getChildMenuList(master)" [ngValue]="child">{{displayName(child)}}</option>
 </select>
        </td>
        </ng-container>
        <td><button (click)="initializeSelectedItems()" class="btn btn-danger btn-sm">Reset</button></td>
        </tr>
</tbody>
</table>
</div>

 


<div *ngIf="(!tasks) || tasks.length == 0">
    <b>No tasks in this list</b>
</div>

<div class="table-responsive" *ngIf="tasks && tasks.length > 0">
    <table class="table table-striped">
        <thead>
            <!-- <tr> -->
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th>
                    <span><input [(ngModel)]="selectionFlag" type="checkbox" (click)="selectAllCheckBox()"></span>
                </th>
                <th><span>Done</span>
                </th>
                
                
                <!-- <th jhiSortBy="Source">
                    Source
                </th>
                <th *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    Players
                </th> -->

                <th jhiSortBy="company.companyName"  *jhiHasAnyAuthority="'ROLE_DIRECTOR'">
                    <span>Company</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="hospital.hospitalName">
                    <span>Client</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="doctor.doctorName">
                    <span>Doctor</span>
                    <span class="fa fa-sort"></span>
                </th>

                <th>
                    <span>Control</span>
                </th>

                <th jhiSortBy="taskTitle">
                    <span>Title</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="taskStatus">
                    <span>Status</span>
                    <span class="fa fa-sort"></span>
                </th>

                
                <!--<th jhiSortBy="notes">
                        <span>Notes</span>
                        <span class="fa fa-sort"></span>
                    </th>-->
                <!---->

                <!--<th jhiSortBy="taskGroup.id">
                        <span>Task Group</span>
                        <span class="fa fa-sort"></span>
                    </th>-->

                <th jhiSortBy="owner.empCode" *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <span>Owner</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="transcript.empCode" *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <span>Transcript</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="editor.empCode" *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <span>Editor</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="manager.empCode" *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <span>Manager</span>
                    <span class="fa fa-sort"></span>
                </th>

                <th jhiSortBy="createdTime">
                    <span>Created Time</span>
                    <span class="fa fa-sort"></span>
                </th>
                <!--<th jhiSortBy="isActive">
                        <span>Is Active</span>
                        <span class="fa fa-sort"></span>
                    </th>-->
                <th *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <span>History</span>
                </th>

                <th jhiSortBy="id">
                    <span>ID</span>
                    <span class="fa fa-sort"></span>
                </th>

                <!--
                <th jhiSortBy="peckOrder">
                    <span>Peck Order</span>
                    <span class="fa fa-sort"></span>
                </th>
                -->

                <th *jhiHasAnyAuthority="'ROLE_MANAGER'"></th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let task of tasks; trackBy: trackId">
                <td><input [(ngModel)]="task['isSelected']" type="checkbox" (click)="collectSelectedTasks(task)" name="mark"></td>
                <td><button type="button" name="Done" value="Done"
                          [disabled]="task['isDoneDisabled']"
                          (click)="uponDoneButtonClick(task)">Done</button></td>
                

                <td  *jhiHasAnyAuthority="'ROLE_DIRECTOR'">
                    <div *ngIf="task.company">
                        {{task.company?.companyName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="task.hospital">
                        {{task.hospital?.hospitalName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="task.doctor">
                        {{task.doctor?.doctorName}}
                    </div>
                </td>

                <td class='fit'>
                    <span>
                        <span class="btn-group">
                                <button type="submit" [routerLink]="['/ext-sn-file/', task.id ]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                                    <span class="fa fa-eye"></span>
                            </button></span>
        
                            <span><jhi-uploader [source]="'task'" [id]="task.id" (onCompletion)="uponUploadCompletion($event)"></jhi-uploader></span>
        
                            <span><jhi-downloader [source]="'task'" [id]="task.id" (onCompletion)="uponDownloadCompletion($event)"></jhi-downloader></span>
                    </span>
                </td>

                <td class='fit'>{{task.taskTitle}}
                    <!-- <span class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'ext-sn-file/'+ task.id } }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                    <span class="fa fa-eye"></span>
                  </button></span>  -->
                    
                </td>

                <td class="table-{{ fetchColorCode(task.taskStatus) }}">{{task.taskStatus}}</td>

                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <div *ngIf="task.owner">
                        <a [routerLink]="['../user-info', task.transcript?.id ]"></a>{{task.owner?.empCode}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <div *ngIf="task.transcript">
                        <a [routerLink]="['../user-info', task.transcript?.id ]">{{task.transcript?.empCode}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <div *ngIf="task.editor">
                        <a [routerLink]="['../user-info', task.editor?.id ]">{{task.editor?.empCode}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <div *ngIf="task.manager">
                        <a [routerLink]="['../user-info', task.manager?.id ]">{{task.manager?.empCode}}</a>
                    </div>
                </td>

                <!-- <td  class='fit'>
                    Company: {{task.company?.companyName}} <br/> Hospital: {{task.hospital?.hospitalName}} <br/> Doctor: {{task.doctor?.doctorName}}
                </td>
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'"  class='fit'>
                    Owner: {{task.owner?.empCode}} <br/> Transcript: {{task.transcript?.empCode}} <br/> Editor: {{task.editor?.empCode}} <br/> Manager: {{task.manager?.empCode}}
                </td> -->
                <td class='fit'>{{task.createdTime | date:'medium'}}</td>
                <!-- <td *jhiHasAnyAuthority="'ROLE_MANAGER'"><div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'ext-history/'+ task.id }, modal: 'true' }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <span class="fa fa-eye"></span>
              </button></div></td> -->

                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/ext-history/', task.id ]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                    <span class="fa fa-clock-o"></span>
                    </button></div>
                </td>

                <td>
                    {{task.id}}
                </td>

                <!-- <td>{{task.peckOrder}}</td> -->
                

                <!--<td>
                    <div *ngIf="task.taskGroup">
                        <a [routerLink]="['../task-group', task.taskGroup?.id ]">{{task.taskGroup?.id}}</a>
                    </div>
                </td>-->
                
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/task', task.id ]" class="btn btn-info btn-sm">
                <span class="fa fa-eye"></span>
                <span class="d-none d-md-inline">View</span>
              </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <span class="fa fa-pencil"></span>
                <span class="d-none d-md-inline">Edit</span>
              </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline">Delete</span>
              </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="tasks && tasks.length">
    <div class="row justify-content-center">
        <!-- Uncomment this item count, after passing values from parent to child -->
        <!-- <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->

        <!-- <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>