<div class="modal-header">
    <h4 class="modal-title" id="myUserInfoLabel">View files of Task {{ taskId }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
</div>
<div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <button type="submit"
        (click)="previousState()"
        class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <div class="row">
    </div>
    <br/>

    <div *ngIf="(!snFiles) || snFiles.length == 0">
        <b>No files in this list</b>
    </div>

    <div class="table-responsive" *ngIf="snFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>File Path</span></th>
            <th><span>File Name</span></th>
            <th><span>File Ext</span></th>
            <th><span>Origin</span></th>
            <th><span>Is Input</span></th>
            <th><span>Is Audio</span></th>
            <th><span>Uploaded Time</span></th>
            <th><span>Audio time</span></th>
            <th><span>Ws Line count</span></th>
            <th><span>Wos Line count</span></th>
            <!-- <th><span>Actual Time Frame</span></th>
            <th><span>Adjusted Time Frame</span></th>
            <th><span>Final Time Frame</span></th>
            <th><span>Ws Actual Line Count</span></th>
            <th><span>Ws Adjusted Line Count</span></th>
            <th><span>Ws Final Line Count</span></th>
            <th><span>Wos Actual Line Count</span></th>
            <th><span>Wos Adjusted Line Count</span></th>
            <th><span>Wos Final Line Count</span></th> -->
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"><span>Chosen Factor</span></th>
            <th><span>Peck Order</span></th>
            <th><span>Sn File Blob</span></th>
            <th><span>Patient</span></th>
            <th><span>Task</span></th>
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"><span>Uploader</span></th>
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let snFile of snFiles ;trackBy: trackId">
                <td>{{snFile.id}}</td>
                <td>{{snFile.filePath}}</td>
                <td>{{snFile.fileName}}</td>
                <td>{{snFile.fileExt}}</td>
                <td>{{snFile.origin}}</td>
                <td>{{snFile.isInput}}</td>
                <td>{{snFile.isAudio}}</td>
                <td>{{snFile.uploadedTime | date:'medium'}}</td>

                <td>
                    Actual : {{snFile.actualTimeFrame}}
                    Adjusted : {{snFile.adjustedTimeFrame}}
                    Final : {{snFile.finalTimeFrame}}
                </td>

                <td>
                    Actual : {{snFile.wsActualLineCount}}
                    Adjusted : {{snFile.wsAdjustedLineCount}}
                    Final : {{snFile.wsFinalLineCount}}
                </td>

                <td>
                    Actual : {{snFile.wosActualLineCount}}
                    Adjusted : {{snFile.wosAdjustedLineCount}}
                    Final : {{snFile.wosFinalLineCount}}
                </td>

                <!-- <td>{{snFile.actualTimeFrame}}</td>
                <td>{{snFile.adjustedTimeFrame}}</td>
                <td>{{snFile.finalTimeFrame}}</td>
                <td>{{snFile.wsActualLineCount}}</td>
                <td>{{snFile.wsAdjustedLineCount}}</td>
                <td>{{snFile.wsFinalLineCount}}</td>
                <td>{{snFile.wosActualLineCount}}</td>
                <td>{{snFile.wosAdjustedLineCount}}</td>
                <td>{{snFile.wosFinalLineCount}}</td> -->
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">{{snFile.chosenFactor}}</td>
                <td>{{snFile.peckOrder}}</td>
                <td>
                    <div *ngIf="snFile.snFileBlob">
                        <a [routerLink]="['../sn-file-blob', snFile.snFileBlob?.id ]" >{{snFile.snFileBlob?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let patient of snFile.patients; let last = last">
                            {{patient.patientName}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let task of snFile.tasks; let last = last">
                            {{task.id}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <div *ngIf="snFile.uploader">
                        {{snFile.uploader?.empCode}}
                    </div>
                </td>
                <td  *jhiHasAnyAuthority="'ROLE_MANAGER'" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sn-file', snFile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sn-file/'+ snFile.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sn-file/'+ snFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" (click)="saveSnFiles()" class="btn btn-primary">
        <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
</div>