<div class="modal-header">
    <h4 class="modal-title" id="myUserInfoLabel">View files of Task {{ taskId }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
</div>
<div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <button type="submit"
        (click)="previousState()"
        class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button  *jhiHasAnyAuthority="'ROLE_MANAGER'" type="submit"
        (click)="saveSnFiles()"
        class="btn btn-info">
        <span class="fa fa-save"></span>&nbsp;<span> Save</span>
    </button>

    <div class="row">
    </div>
    <br/>

    <div *ngIf="(!snFiles) || snFiles.length == 0">
        <b>No files in this list</b>
    </div>

    <div class="table-responsive" *ngIf="snFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th></th>
            <th><span>ID</span></th>
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"><span>Uploader</span></th>
            <!-- <th><span>File Path</span></th> -->
            <th><span>Content</span></th>
            <th><span>File Name</span></th>
            <th><span>File Ext</span></th>
            <th><span>Origin</span></th>
            <th><span>Is Input</span></th>
            <th><span>Is Audio</span></th>
            <th><span>Uploaded Time</span></th>
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"><span>Audio time</span></th>
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"><span>Ws Line count</span></th>
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"><span>Wos Line count</span></th>
            <!-- <th><span>Actual Time Frame</span></th>
            <th><span>Adjusted Time Frame</span></th>
            <th><span>Final Time Frame</span></th>
            <th><span>Ws Actual Line Count</span></th>
            <th><span>Ws Adjusted Line Count</span></th>
            <th><span>Ws Final Line Count</span></th>
            <th><span>Wos Actual Line Count</span></th>
            <th><span>Wos Adjusted Line Count</span></th>
            <th><span>Wos Final Line Count</span></th> -->
            
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"><span>Chosen Factor</span></th>
            <th><span>Final count</span></th>
            <th><span>Peck Order</span></th>
            <!-- <th><span>Content</span></th> -->
            <!-- <th><span>Patient</span></th>
            <th><span>Task</span></th> -->
            <th *jhiHasAnyAuthority="'ROLE_MANAGER'"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let snFile of snFiles ;trackBy: trackId">
                <td><input [(ngModel)]="snFile['isSelected']" type="checkbox"/></td>
                <td>{{snFile.id}}</td>
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                        <div *ngIf="snFile.uploader">
                            {{snFile.uploader?.empCode}}
                        </div>
                    </td>
                <!-- <td>{{snFile.filePath}}</td> -->
                <td>
                        <a *ngIf="snFile.snFileBlob.fileContent" (click)="openFile(snFile.snFileBlob.fileContentContentType, snFile.snFileBlob.fileContent)">open</a>
                        <span *ngIf="snFile.snFileBlob.fileContent">{{snFile.snFileBlob.fileContentContentType}}, {{byteSize(snFile.snFileBlob.fileContent)}}</span>
                    </td>
                <td>{{snFile.fileName}}</td>
                <td>{{snFile.fileExt}}</td>
                <td>{{snFile.origin}}</td>
                <td>{{snFile.isInput}}</td>
                <td>{{snFile.isAudio}}</td>
                <td>{{snFile.uploadedTime | date:'medium'}}</td>

                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                    <div *ngIf="snFile.isAudio">
                    Actual : {{snFile.actualTimeFrame}}
                    Adjusted : {{snFile.adjustedTimeFrame}}
                    Final : {{snFile.finalTimeFrame}}
                    <div class="form-group">
                            <label class="form-control-label" for="field_time_{{snFile.id}}">final time</label>
                            <input type="number" class="form-control" name="field_time_{{snFile.id}}" id="field_time_{{snFile.id}}"
                                (change)="updateChosenFactor(snFile, 'TIME_FRAME')"
                                [(ngModel)]="snFile.finalTimeFrame" />
                    </div>
                    </div>
                </td>

                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                        <div *ngIf="!snFile.isAudio">
                    Actual : {{snFile.wsActualLineCount}}
                    Adjusted : {{snFile.wsAdjustedLineCount}}
                    Final : {{snFile.wsFinalLineCount}}
                    <div class="form-group">
                            <label class="form-control-label" for="field_ws_{{snFile.id}}">final ws</label>
                            <input type="number" class="form-control" name="field_ws_{{snFile.id}}" id="field_ws_{{snFile.id}}"
                                (change)="updateChosenFactor(snFile, 'WS_LINE_COUNT')"
                                [(ngModel)]="snFile.wsFinalLineCount" />
                    </div>
                    </div>
                </td>

                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                        <div *ngIf="!snFile.isAudio">
                    Actual : {{snFile.wosActualLineCount}}
                    Adjusted : {{snFile.wosAdjustedLineCount}}
                    Final : {{snFile.wosFinalLineCount}}
                    <div class="form-group">
                            <label class="form-control-label" for="field_wos_{{snFile.id}}">final wos</label>
                            <input type="number" class="form-control" name="field_wos_{{snFile.id}}" id="field_wos_{{snFile.id}}"
                                (change)="updateChosenFactor(snFile, 'WOS_LINE_COUNT')"
                                [(ngModel)]="snFile.wosFinalLineCount" />
                    </div>
                    </div>
                </td>

                <!-- <td>{{snFile.actualTimeFrame}}</td>
                <td>{{snFile.adjustedTimeFrame}}</td>
                <td>{{snFile.finalTimeFrame}}</td>
                <td>{{snFile.wsActualLineCount}}</td>
                <td>{{snFile.wsAdjustedLineCount}}</td>
                <td>{{snFile.wsFinalLineCount}}</td>
                <td>{{snFile.wosActualLineCount}}</td>
                <td>{{snFile.wosAdjustedLineCount}}</td>
                <td>{{snFile.wosFinalLineCount}}</td> -->
                <td *jhiHasAnyAuthority="'ROLE_MANAGER'">
                        <!-- <label class="form-control-label" for="field_chosenFactor">Chosen Factor</label> -->
                        <select class="form-control" name="chosenFactor_{{snFile.id}}" [(ngModel)]="snFile.chosenFactor" 
                           (change)="updateChosenFactorDropdown(snFile)" id="field_chosenFactor_{{snFile.id}}" >
                            <option value="NONE">NONE</option>
                            <option value="TIME_FRAME" *ngIf="snFile.isAudio">TIME_FRAME</option>
                            <option value="WS_LINE_COUNT" *ngIf="!snFile.isAudio">WS_LINE_COUNT</option>
                            <option value="WOS_LINE_COUNT" *ngIf="!snFile.isAudio">WOS_LINE_COUNT</option>
                        </select>
                </td>
                <th><span>{{snFile['finalCount']}}</span></th>
                <td>{{snFile.peckOrder}}</td>
                <!-- <td>
                    <div *ngIf="snFile.snFileBlob">
                        <a [routerLink]="['../sn-file-blob', snFile.snFileBlob?.id ]" >{{snFile.snFileBlob?.id}}</a>
                    </div>
                </td> -->
                <!-- <td>
                    <span *ngFor="let patient of snFile.patients; let last = last">
                            {{patient.patientName}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let task of snFile.tasks; let last = last">
                            {{task.id}}{{last ? '' : ', '}}
                        </span>
                </td> -->
                
                <td  *jhiHasAnyAuthority="'ROLE_MANAGER'" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sn-file', snFile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sn-file/'+ snFile.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sn-file/'+ snFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer" *jhiHasAnyAuthority="'ROLE_MANAGER'">
    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button> -->
    <button type="submit" (click)="saveSnFiles()" class="btn btn-primary">
        <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
</div>