

<div>
  <h2>
      <span>Task Groups</span>
  </h2>
      <jhi-uploader [source]="'taskGroup'" [id]="0"
                    (onCompletion)="uponUploadCompletion($event)"></jhi-uploader>
  
  <jhi-alert></jhi-alert>
  <div class="row">
  </div>

  
   <div class="row">
    <div class="col-md-5">
        <h4>Filter by date</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">From</span>
            </div>
            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="onChangeDate()" required/>
            <br>
            <div class="input-group-append">
                    <span class="input-group-text">To</span>
            </div>
            <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="onChangeDate()" required/>
        </div>
    </div>
   </div> 


   <br>
  <div class="table-responsive" *ngIf="taskGroups">
      <table class="table table-striped">
          <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
          <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
          <th jhiSortBy="groupName"><span>Group Name</span> <span class="fa fa-sort"></span></th>
          <th jhiSortBy="createdTime"><span>Created Time</span> <span class="fa fa-sort"></span></th>
          <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taskGroup of taskGroups ;trackBy: trackId">
              <td><a [routerLink]="['../task-group', taskGroup.id ]">{{taskGroup.id}}</a></td>
              <td>{{taskGroup.groupName}}</td>
              <td>{{taskGroup.createdTime | date:'medium'}}</td>
              <td class="text-right">
                  <div class="btn-group flex-btn-group-container">
                      <button type="submit"
                              [routerLink]="['../ext-task-group-detail', taskGroup.id ]"
                              class="btn btn-info btn-sm">
                          <span class="fa fa-eye"></span>
                          <span class="d-none d-md-inline">View</span>
                      </button>
                      <button type="submit"
                              [routerLink]="['/', { outlets: { popup: 'task-group/'+ taskGroup.id + '/edit'} }]"
                              replaceUrl="true"
                              queryParamsHandling="merge"
                              class="btn btn-primary btn-sm">
                          <span class="fa fa-pencil"></span>
                          <span class="d-none d-md-inline">Edit</span>
                      </button>
                      <button type="submit"
                              [routerLink]="['/', { outlets: { popup: 'task-group/'+ taskGroup.id + '/delete'} }]"
                              replaceUrl="true"
                              queryParamsHandling="merge"
                              class="btn btn-danger btn-sm">
                          <span class="fa fa-remove"></span>
                          <span class="d-none d-md-inline">Delete</span>
                      </button>
                  </div>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
 
  <div *ngIf="taskGroups && taskGroups.length">
      <div class="row justify-content-center">
          <!-- <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
          <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage" ></jhi-item-count>
      </div>
      <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
      </div>
     
  </div> 
</div>
