<div *ngIf="taskGroup">
    <h2>
        <span>Task Group</span> {{taskGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt>
            <span>Group Name</span>
        </dt>
        <dd>
            <span>{{taskGroup.groupName}}</span>
        </dd>
        <dt>
            <span>Created Time</span>
        </dt>
        <dd>
            <span>{{taskGroup.createdTime | date:'medium'}}</span>
        </dd>
    </dl>

    <jhi-uploader [source]="'taskGroup'" [id]="taskGroup.id" (onCompletion)="uponUploadCompletion($event)"></jhi-uploader>

    <jhi-downloader [source]="'taskGroup'" [id]="taskGroup.id" (onCompletion)="uponDownloadCompletion($event)"></jhi-downloader>

    <jhi-alert></jhi-alert>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'task-group/'+ taskGroup.id + '/edit'} }]" replaceUrl="true"
        queryParamsHandling="merge" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span> Edit</span>
    </button>

    <div *ngIf="totalTasks > 0">
        <br>
        <div class="col-sm-6">
                <div class="card card-info mb-3 text-left">
                  <div class="card-block">
                    <h5 class="card-title">tasks for the Taskgroup</h5>
                       <div *ngFor="let statusCount of statusCountList">
            <p>
                       <span>{{statusCount.status}}</span> ({{statusCount.ord}} / {{totalTasks}})</p>
                    <ngb-progressbar type="{{statusCount.status == 'CREATED' ? 'danger' : statusCount.status == 'COMPLETED' ? 'success' : 'info'}}"
                [max]="totalTasks" [value]="statusCount.ord" [striped]="true" [animated]="true">
                <span>{{statusCount.ord * 100 / totalTasks | number:'1.0-0'}}%</span>
            </ngb-progressbar>
            </div>
        </div>
    </div>

</div>

<jhi-ext-task-list-template [source]="'taskGroup'" [taskGroupId]="taskGroupId" (onReload)="reload($event)"></jhi-ext-task-list-template>

<!-- <jhi-ext-task-list-template 
  [source]="'taskGroup'"
  [ngModel]="tasks?"
  (ngModelChange)="tasks? ? tasks = $event : null"
  (onReload)="reload($event)"
  ></jhi-ext-task-list-template> -->